NET "nes_clk_out"    LOC = "D7" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 4;
NET "nes_ps_control" LOC = "F8" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 4;
NET "nes_data_1" LOC = "B4" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "nes_data_2" LOC = "D5" | IOSTANDARD = LVCMOS33 | PULLUP;